<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <div id="container">
      <div id="head">
        <head>
          <title>IchingOracle</title>
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <%= csrf_meta_tags %>
          <%= csp_meta_tag %>

          <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
          <%= javascript_importmap_tags %><br><br>
        </head>
        <body>
          <h5> I Ching Oracle </h5>
          <div id="menu">
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Index", hexagrams_path %></li>
            </ul>
          </div>
          <br><br>

      <%= yield %>
      </body>
    </div>
</html>
